<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
 <h1 style="display: none;">some text..</h1>

<script>
    <%if(locals.flash.error&&locals.flash.error.length>0){%>
      new Noty({
        theme:'relax',
        text:"<%=flash.error%>",
        type:'error',
        layout:'topRight',
        timeout:1500
       }).show();
      <%}%>
      <%if(locals.flash.success&&locals.flash.success.length>0){%>
            new Noty({
              theme:'relax',
              text:"<%=flash.success%>",
              type:'success',
              layout:'topRight',
              timeout:1500
             }).show();
        <%}%>
</script>