
<link rel="stylesheet" href="/css/user_profile.css">
<a href="/" class="home">Home</a>
<a class="logout"href="/users/sign-out">logout</a>
<center>
    <h1>Profile</h1>

<h2>Hello <%=user.name%></h2>
<p><%=user.email%></p>
</center>