<link rel="stylesheet" href="/css/signin.css">
<h1 class="heading">Ask And Answer</h1>
<br>
<h1 style="position: relative; left: 670px;">SignIn</h1>
<br>
<form action="/users/login" method="POST">
    <input class="Email" type="email" name="email" placeholder="Email" required>
    <br>
    <br>
    <input class="pass" type="password" name="password" placeholder="password" required>
    <br>
    <br>
    <button class="btn" type="submit">Login</button>
    <h3 class="heading1">Don't Have an account!</h3>
    <a class="heading2" href="/users/sign-up">SignUp</a>
</form>