<h1>SignIn</h1>
<form action="/users/login" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="password" required>
    <button type="submit">Login</button>
</form>