body{
.heading{
    position: relative;
    left:570px;
    text-decoration: underline;
}
.sign-in{
    position: relative;
    bottom: 56.5px;
     left:74%;
     font-size: x-large;
  }
  .sign-up{
      font-size: x-large;
      position: relative;
      bottom: 85px;
      left:92%;
  
  }
#home-container{
     display: flex;
    #feed-post{

        width: 75%;
        padding: 10px;
        height: 100%;
    }
    #user-friends{
        width: 25%;
        height: 100%;
        padding: 10px;
        border-left:2px solid lightblue;
    }
}
   .askuora{
       position:relative;
        left: 45%;
   }
}

@media screen and (max-width:1300px) {
    img.askuora {
      left:42%;
    }
    a.sign-in{
        left:70%;
    }
   
  }
  @media screen and (max-width:1000px) {
    a.sign-in{
        left:60%;
    }
   
  }
  @media screen and (max-width:750px) {
    img.askuora {
      left:38%;
    }
    a.sign-in{
        left:52%;
    }
   
  }
  @media screen and (max-width:590px) {
    a.sign-in{
        left:42%;
       bottom: 8px;
    }
    a.sign-up{
        left: 88%;;
        bottom: 38px;
    }
    textarea{
        width: 240px;;
    }
  }
  @media screen and (max-width:450px) {
    a.sign-in{
        left:42%;
       bottom: 8px;
    }
    a.sign-up{
        left: 80%;;
        bottom: 07px;
    }
    textarea{
        width: 210px;;
    }
   
  }
  
  