body{
.heading{
    position: relative;
    left:570px;
    text-decoration: underline;
}
.sign-in{
    position: relative;
    bottom: 56.5px;
     left: 1035px;
     font-size: x-large;
  }
  .sign-up{
      font-size: x-large;
      position: relative;
      bottom: 85px;
      left:1290px
  
  }
#home-container{
     display: flex;
    #feed-post{

        width: 75%;
        padding: 10px;
        height: 100%;
    }
    #user-friends{
        width: 25%;
        height: 100%;
        padding: 10px;
        border-left:2px solid lightblue;
    }
}
}