body{
    background-color:lightcyan;
    margin: 0px;
    width: 920px;
    .heading{
        position: relative;
        left:570px;
        text-decoration: underline;
    }
    .sign-in{
      position: relative;
      bottom: 56.5px;
       left: 1220px;
       font-size: x-large;
    }
    .sign-up{
        font-size: x-large;
        position: relative;
        bottom: 85px;
        left:1300px
    
    }
    #feed-post{
        position: relative;
        left: 500px;
    }
    .post-content{
        color:rgb(11, 8, 10);
         position: relative;
         left: 450px;
         font-size: large;
    }
}