body,html{
    background-image: url('/image/home.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Montserrat';
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    .heading{
        position: relative;
        left: 630px;
    }
    .heading1{
        position: relative;
        left: 600px;
    }
    .heading2{
        position: relative;
        left: 677px;
    }
    .name{
        position: relative;
        width: 350px;
        height: 30px;
        left: 550px;
    }
    .pass{
        position: relative;
        width: 350px;
        height: 30px;
        left: 550px;
    }
    .btn{
        position: relative;
        left: 677px;
        height: 60px;
        width:60px;
        border-radius: 10px;
    }
    .btn:hover {
        background-color: #b2cfb3; /* Green */
        color: white;
      }
}