body{
    margin: 0px;
    .home{
        position: relative;
        left: 1230px;
        font-size: 25px;
    }
    .logout{
        position: relative;
        left: 1250px;
        font-size: 25px;
    }
}