body,html{
    background-image: url('/image/home.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Montserrat';
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    margin: 0px;
    .home{
        position: relative;
        left: 1230px;
        font-size: 25px;
    }
    .logout{
        position: relative;
        left: 1250px;
        font-size: 25px;
    }
    .edit-button{
        height:55px;
        width: 55px; 
        border-radius: 10px; 
        background-color: rgb(216, 241, 241);
        &:hover{
            background-color: rgb(119, 190, 176);
        }
    }
}